<html>
    <head>    
        <title><%=(locals.title) ? title :''%></title>
    </head>
    <body>
        <h2>Hello world<h2>
        <a href="/customers">List Customers</a> <br>
        <a href="/customers/add">Add Customers</a>       
    </body>
</html>
